.backg1{
    color: white;
    text-align: center;
    padding-top: 150px;
    background-image: url(../assets/backgrounds/h_img.jpg);
    height: 650px;
    background-size: 100%;
    background-repeat:no-repeat;

}
.backg1 h1{
    padding-top: 50px;
}
.mouse{
    padding-top:120px;
}
.about{
    text-align: center;
}
.services{
    text-align: center;
    color: white;
    background-image: url(../assets/backgrounds/s_image.jpg);
    height: 400px;
    padding-top: 100px;
}
.wtd{
    text-align: center;
    padding-top: 50px;
    align-content: center;
    text-align: center;
}
.wtd h3{
    padding-bottom: 40px;
}
.portfolio{
    text-align: center;
}
.portfolio h3{
    text-align: center;
}
.column{
    border: 5px;
}
