.backg1{
    color: white;
    text-align: center;
    padding-top: 150px;
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-size:cover; 
    height: 650px;
    background-size: 100%;
    background-repeat:no-repeat;
    position: relative;

}
.backg1 h1{
    padding-top: 50px;
}
.mouse{
    padding-top:120px;
}
.about{
    text-align: center;
}
.services{
    text-align: center;
    color: white;
    background-image: url(../assets/backgrounds/s_image.jpg);
    height: 400px;
    padding-top: 100px;
}
.wtd{
    text-align: center;
    padding-top: 50px;
    align-content: center;
    text-align: center;
    margin-left: 70px;
    margin-right: 120px;
}
.wtd h3{
    padding-bottom: 40px;
}
.portfolio{
    text-align: center;
    margin-top: 50px;
}
.portfolio h3{
    text-align: center;
}
.contact{
    background-image: url(../assets/backgrounds/c_image.jpg);
    padding-top: 50px;
    background-size: 100%;
    height: 400px;
}
.contact h3{
    text-align: center;
    color: white;
}
.form input{
    text-align: left;
    background: transparent;
    outline: none;
    color: #fff;
    font-size: 15px;
    height: 40px;
}
.form{
    text-align: center;
}
::placeholder{
    color: white;
    text-align: left;
}
.icon{
   margin-left: 220px;
   margin-right: 210px;
}
.contact textarea{
    background: transparent;
    color: #fff;
}

#content1{
    display:none;
}
#content2{
    display:none;
}
#content3{
    display:none;
}

.work1{
    color: rgb(10, 252, 199);
    background-image: url(../assets/portfolio/work4.jpg);
    background-size: 100%;
    height: 170px;
    border: 2px;
    margin-right:10px;
    margin-bottom:10px;
    background-repeat: no-repeat;
}
#w1{
    display: none;
}
#w1 h3{
    border-style: double;
}
.work2{
    color: rgb(10, 252, 199);
    background-image: url(../assets/portfolio/work3.jpg);
    background-size: 100%;
    height: 170px;
    border: 20px;
    margin-right:10px;
    background-repeat: no-repeat;
}
#w2{
    display: none;
}
#w2 h3{
    border-style: double;
}
.work3{
    color: rgb(10, 252, 199);
    background-image: url(../assets/portfolio/work2.jpg);
    background-size: 100%;
    height: 170px;
    border: 20px;
    margin-right:10px;
    background-repeat: no-repeat;
}
#w3{
    display: none;
}
#w3 h3{
    border-style: double;
}
.work4{
    color: rgb(10, 252, 199);
    background-image: url(../assets/portfolio/work1.jpg);
    background-size: 100%;
    height: 170px;
    border: 20px;
    margin-right:10px;
    background-repeat: no-repeat;
}
#w4{
    display: none;
}
#w4 h3{
    border-style: double;
}
.work5{
    color: rgb(250, 11, 11);
    background-image: url(../assets/portfolio/work5.jpg);
    background-size: 100%;
    height: 170px;
    border: 20px;
    margin-right:10px;
    background-repeat: no-repeat;
}
#w5{
    display: none;
}
#w5 h3{
    border-style: double;
}
.work6{
    color: rgb(250, 11, 11);
    background-image: url(../assets/portfolio/work6.jpg);
    background-size: 100%;
    height: 170px;
    border: 20px;
    margin-right:10px;
    background-repeat: no-repeat;
}
#w6{
    display: none;
}
#w6 h3{
    border-style: double;
}
.work7{
    color: rgb(250, 11, 11);
    background-image: url(../assets/portfolio/work7.jpg);
    background-size: 100%;
    height: 170px;
    border: 20px;
    margin-right:10px;
    background-repeat: no-repeat;
}
#w7{
    display: none;
}
#w7 h3{
    border-style: double;
}
.work8{
    color:rgb(250, 11, 11);
    background-image: url(../assets/portfolio/work8.jpg);
    background-size: 100%;
    height: 170px;
    border: 20px;
    margin-right:10px;
    background-repeat: no-repeat;
    width: 800px;
}
#w8{
    display: none;
}
#w8 h3{
    border-style: double;
    border:
}
.port1{
    margin-left: 200px;
}
.port2{
    margin-left: 200px;
    margin-top: -40px;
}